@using Domain.Entities
@model IEnumerable<Branch>
@{ ViewBag.Title = "Unidades"; }

<div class="container">
	<div class="row">
		<h5>
			Unidades Cadastradas
		</h5>
		<a class="waves-effect waves-light btn" asp-controller="Branches" asp-action="Create">
			<i class="fa fa-plus" aria-hidden="true">
				Nova Unidade
			</i>
		</a>
	</div>

	<div class="row">
		<table class="bordered">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Cnpj</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var branch in Model) {
				<tr>
					<td>@branch.Name</td>
					<td>@branch.Cnpj</td>
					<td>
						<i class="fa fa-pencil" aria-hidden="true">
							<a asp-controller="Branches" asp-action="Edit" asp-route-id="@branch.Id">Editar</a>
						</i>
						<i class="fa fa-info" aria-hidden="true">
							<a asp-controller="Branches" asp-action="Details" asp-route-id="@branch.Id">Detalhes</a>
						</i>
					</td>
				</tr>
				}
			</tbody>
		</table>
		<div class="center-align">
			<pager />
		</div>
	</div>
</div>