@model Presentation.ViewModels.Employee.EditEmployeeViewModel

<div>  
  
  <h2> 
      Editando o usuário: @Model.Name
  </h2>

  <form method="post" asp-controller="Employees" and asp-action="Edit">
    
    <div class="form-group">
      <div class="row">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-6">
          <input asp-for="Name" class="form-control" />
          <span asp-validation-for="Name" class="text-danger"></span>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="row">
        <label asp-for="Cpf" class="col-md-2 control-label"></label>
        <div class="col-md-6">
          <input asp-for="Cpf" class="form-control" />
          <span asp-validation-for="Cpf" class="text-danger"></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label asp-for="Identifier" class="col-md-2 control-label"></label>
        <div class="col-md-6">
          <input asp-for="Identifier" class="form-control" />
          <span asp-validation-for="Identifier" class="text-danger"></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-6">
          <input asp-for="Email" class="form-control" />
          <span asp-validation-for="Email" class="text-danger"></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
        <div class="col-md-6">
          <input asp-for="DateOfBirth" class="form-control" />
          <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-offset-2 col-md-1">
          <input type="submit" value="Salvar" class="btn btn-success" />
        </div>
      </div>
    </div>    
  </form>

</div>