@model Presentation.ViewModels.Employee.ImportEmployeeViewModel

@{
    ViewBag.Title = "Importar Funcionários";
}

<div class="x_panel">
  <div class="x_title">
    <h2>
        Importar Funcionários
    </h2>
    
    <div class="clearfix"></div>
  </div>
  <div class="x_content"> 
    <form method="post" asp-controller="Employees" and asp-action="Import">  

      <div class="form-group">
        <div class="row">
          <label asp-for="file" class="col-md-2 control-label"></label>
          <div class="col-md-6">
            <input asp-for="file" class="form-control" accept=".csv"/>
            <span asp-validation-for="file" class="text-danger"></span>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-md-offset-2 col-md-10">
            <p>
              O arquivo a deve estar no formato .csv separado por ';' ou ','
            </p>
            <p>
              Clique <a href="/Files/Exemplo_Importacao_funcionarios.csv"> <strong> aqui </strong> 
              <i class="fa fa-link" aria-hidden="true"></i> </a> para baixar o modelo de arquivo para importação.
            </p>
            <p>
              <strong> ATENÇÃO </strong> o arquivo não deve conter o <b> <i> cabeçalho </i> </b> para a importação.
            </p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Importar" class="btn btn-success" />
          </div>
        </div>
      </div>

    </form>
  </div>
</div>