@using Presentation.ViewModels.Item
@model EditItemViewModel 
@{ 
  ViewBag.Title = "Editar Ativo"; 
}

<div class="x_panel">
  <div class="row">
    <h5>
      Editar Ativo
    </h5>
  </div>
  <div class="row">
    <form method="post" asp-controller="Itens" and asp-action="Edit">

      <div class="form-group">
        <div class="row">
          <label asp-for="NF" class="col m2 control-label"></label>
          <div class="col m6">
            <input type="text" asp-for="NF" class="form-control" />
            <span asp-validation-for="NF" class="text-danger"></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label asp-for="SerialNumber" class="col m2 control-label"></label>
          <div class="col m6">
            <input type="text" asp-for="SerialNumber" class="form-control" />
            <span asp-validation-for="SerialNumber" class="text-danger"></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label asp-for="Patrimonio" class="col m2 control-label"></label>
          <div class="col m6">
            <input type="text" asp-for="Patrimonio" class="form-control" />
            <span asp-validation-for="Patrimonio" class="text-danger"></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="offset-m2 col m10">
            <input type="submit" value="Atualizar" class="btn btn-success" />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>