@model Presentation.ViewModels.Product.ProductViewModel

<div class="x_panel">
  <div class="row">
    <h5>
        Cadastrar Novo Produto
    </h5>
  </div>
  <div class="row"> 
    <form method="post" asp-controller="Products" and asp-action="Create">  
      
      <div class="form-group">
        <div class="row">
          <label asp-for="Name" class="col-md-2 control-label"></label>
          <div class="col-md-6">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="row">
          <label asp-for="Description" class="col-md-2 control-label"></label>
          <div class="col-md-6">
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label asp-for="ProductDepreciationTimeInMonths" class="col-md-2 control-label"></label>
          <div class="col-md-6">
            <input asp-for="ProductDepreciationTimeInMonths" class="form-control" />
            <span asp-validation-for="ProductDepreciationTimeInMonths" class="text-danger"></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cadastrar" class="btn btn-success" />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>