@model System.Collections.Generic.IEnumerable<Domain.Entities.User>
@{
    ViewBag.Title = "Usuários do Sistema";
}

<div class="x_panel">
  <div class="x_title">
    <h2>
      Ususários Cadastrados 
    </h2>

    <div style="float: right;">
      <i class="fa fa-plus" aria-hidden="true">
          <a asp-controller="Users" asp-action="Create" asp-route-id="">
            Adicionar Novo Usuário
          </a>
      </i>
    </div>
    
    <div class="clearfix"></div>
  </div>
  <div class="x_content"> 
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Ativo</th>
          <th>Permissões</th>
          <th>Data de Criação</th>
        </tr>
      </thead>
      <tbody>
          @{
              foreach(var user in @Model)
              {
                  <tr style="background-color:@(!user.Active ? "#D3D3D3":"");">
                    <td>@user.Employee?.Name</td>
                    <td>@user.Employee?.Email</td>
                    <td>@(user.Active ? "Ativo" : "Inativo")</td>
                    <td> Permissões </td>
                    <td>@user.CreatedOn.ToString("dd/MM/yyyy")</td>
                  </tr>
              }
          }      
      </tbody>
    </table>  
  </div>
</div>