@model Presentation.ViewModels.User.LoginUserViewModel
@{
    Layout = "";
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Resource Manager</title>
    <environment names="Development,Staging,Production">
        <!-- Materialize.css -->
        <link type="text/css" rel="stylesheet" href="/lib/materialize/dist/css/materialize.min.css" media="screen,projection" />
        <!-- Font Awesome -->
        <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- Materialize.js -->
        <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/lib/materialize/dist/js/materialize.min.js"></script>
    </environment>
</head>
<body>
    <main>
        <div class="container">
            <section class="z-depth-1 grey lighten-4 row">
                <form asp-action="Login">
                    <div class="container">
                        <h3 class="center-align">Login</h3>
                        <div class="row">
                            <input asp-for="Email" type="text" class="form-control" placeholder="Email" required />
                        </div>
                        <div class="row">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Senha" required />
                        </div>
                        <div class="center-align">
                            <div class="row">
                                <button type="submit" class="btn btn-default">Entrar</button>
                                <input asp-for="RememberMe" type="checkbox" title="Lembrar de mim" />
                                <label for="RememberMe">Lembrar de mim?</label>
                            </div>
                            <div class="row">
                                <a asp-controller="Users" asp-action="ForgotPassword">   
                                        Esqueci minha senha
                                    </a>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="center-align">
                    <h4><i class="fa fa-th-large"></i> Resource Manager</h4>
                    <span>©2016 All Rights Reserved. Privacy and Terms<span/>
                </div>
            </section>
        </div>
    </main>
</body>

</html>
