@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Usuário";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title text-success" >
            <h2>Usuário Criado com sucesso! <i class="fa fa-check fa-6" aria-hidden="true"></i> </h2>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            <p>
                Um e-mail foi enviado para <b> @ViewBag.UserEmail </b> com as instruções necessárias.
            </p>
            <p>
                Após seguir as instruções do e-mail o usuário terá acesso ao sistema.
            </p>

            <p>
                Caso o e-mail não chegue em alguns minutos o usuário pode utilizar a opção <b>"Esqueci Minha Senha"</b> 
            </p>
        </div>
    </div>
</div>