<!DOCTYPE html>
<html lang="en" ng-app="resourceManagement">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>@ViewData["Title"] - Resource Manager</title>
	<environment names="Development,Staging,Production">
		<!-- Bootstrap -->
		<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- Font Awesome -->
		<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<!-- NProgress -->
		<link href="/lib/nprogress/nprogress.css" rel="stylesheet">
		<!-- Custom Theme Style -->
		<link href="/css/custom.min.css" rel="stylesheet">
	</environment>
  </head>

  <body class="nav-md">
	<div class="container body">
	  <div class="main_container">
		<div class="col-md-3 left_col">
		  <div class="left_col scroll-view">
			<div class="navbar nav_title" style="border: 0;">
			  <a href="#" class="site_title"><i class="fa fa-suitcase"></i> <span>Resource M.</span></a>
			</div>
			<div class="clearfix"></div>
			<!-- sidebar menu -->
			<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
			  <div class="menu_section">
				<ul class="nav side-menu">
				  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
					  <li><a href="/Home/Index">Painel</a></li>
					  <li><a href="#">Ultimas Atividades</a></li>
					  <li><a href="#">Emprestivos Vencidos</a></li>
					</ul>
				  </li>
				  <li><a><i class="fa fa-edit"></i> Registros <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
					  <li><a href="/Employees/Index">Funcionários</a></li>
					  <li><a href="/Users/Index"> Usuários </a></li>
					  <li><a href="/Branches/Index"> Unidades </a></li>
					</ul>
				  </li>
				  <li><a><i class="fa fa-bar-chart-o"></i> Relatórios <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
					  <li><a href="#">Chart JS</a></li>
					  <li><a href="#">Chart JS2</a></li>
					  <li><a href="#">Moris JS</a></li>
					  <li><a href="#">ECharts</a></li>
					  <li><a href="#">Other Charts</a></li>
					</ul>
				  </li>
				</ul>
			  </div>

			</div>
			<!-- /sidebar menu -->
		  </div>
		</div>

		<!-- top navigation -->
		<div class="top_nav">
		  <div class="nav_menu">
			<nav>
			  <div class="nav toggle">
				<a id="menu_toggle"><i class="fa fa-bars"></i></a>
			  </div>

			  <ul class="nav navbar-nav navbar-right">
				<li class="">
				  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					@User.Identity.Name
					<span class=" fa fa-angle-down"></span>
				  </a>
				  <ul class="dropdown-menu dropdown-usermenu pull-right">
					<li><a href="javascript:;"> Perfil</a></li>
					<li>
					  <a href="javascript:;">
						<span>Configurações</span>
					  </a>
					</li>
					<li><a href="/Users/LogOff"><i class="fa fa-sign-out pull-right"></i> Sair</a></li>
				  </ul>
				</li>
			  </ul>
			</nav>
		  </div>
		</div>
		<!-- /top navigation -->

		<!-- page content -->
		<div class="right_col" role="main">
			@RenderBody()
		</div>
		<!-- /page content -->

		<!-- footer content -->
		<footer>
		  <div class="pull-right">
			Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
		  </div>
		  <div class="clearfix"></div>
		</footer>
		<!-- /footer content -->
	  </div>
	</div>

	<environment names="Development,Staging,Production">
		<!-- jQuery -->
		<script src="/lib/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap -->
		<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- FastClick -->
		<script src="/lib/fastclick/lib/fastclick.js"></script>
		<!-- NProgress -->
		<script src="/lib/nprogress/nprogress.js"></script>
		<!-- Angular -->
		<script src="/lib/angular/angular.min.js"></script>
		<script src="/lib/angular-input-masks/angular-input-masks-standalone.min.js"></script>


		<!-- Custom Theme Scripts -->
		<script src="/js/custom.min.js"></script>
		<script src="/js/app.js"></script>
	</environment>

  </body>
</html>
