<!DOCTYPE html>
<html lang="en" ng-app="resourceManagement">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>@ViewData["Title"] - Resource Manager</title>
	<environment names="Development,Staging,Production">
		<!-- Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Materialize.css -->
		<link type="text/css" rel="stylesheet" href="/lib/materialize/dist/css/materialize.min.css" media="screen,projection" />
		<!-- Font Awesome -->
		<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<!-- Custom Theme Style -->
		<link href="/css/custom.css" rel="stylesheet">

		<!-- Angular -->
		<script src="/lib/angular/angular.min.js"></script>
		<script src="/lib/angular-input-masks/angular-input-masks-standalone.min.js"></script>
		<script src="/js/app.js"></script>

		<!-- Materialize.js -->
		<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/lib/materialize/dist/js/materialize.min.js"></script>
	</environment>
</head>

<body>

	<header>
		<!-- Navbar -->
		<nav class="blue lighten-1">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo center">Resource Manager</a>
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li>
						<a href="#" id="menuButton" data-activates="slide-out"><i class="material-icons">menu</i></a>
					</li>
				</ul>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<a href="#!" class="dropdown-button" data-activates="dropdownMenu">
						@User.Identity.Name
						<span class=" fa fa-angle-down"></span>
					</a>
					</li>
				</ul>
			</div>
		</nav>

		<!-- Right dropdown -->
		<ul id="dropdownMenu" class="dropdown-content">
			<li><a href="javascript:;"> Perfil</a></li>
			<li>
				<a href="javascript:;">
					<span>Configurações</span>
			</a>
			</li>
			<li><a href="/Users/LogOff"><i class="fa fa-sign-out pull-right"></i> Sair</a></li>
		</ul>

		<!-- Sidenav -->
		<ul id="slide-out" class="side-nav">
			<li>
				<a class="subheader">
						<i class="fa fa-home"></i> Home
					</a>
			</li>
			<li><a href="/Home/Index">Painel</a></li>
			<li><a href="#">Ultimas Atividades</a></li>
			<li><a href="#">Emprestivos Vencidos</a></li>
			<li>
				<div class="divider"></div>
			</li>
			<li>
				<a class="subheader">
							<i class="fa fa-edit"></i> Registros
					</a>
			</li>
			<li><a href="/Employees/Index">Funcionários</a></li>
			<li><a href="/Users/Index"> Usuários </a></li>
			<li><a href="/Branches/Index"> Unidades </a></li>
			<li><a href="/Products/Index"> Produtos </a></li>
			<li><a href="/Itens/Index"> Ativos </a></li>
		</ul>
	</header>

	<main>
		@RenderBody()
	</main>

	<footer class="page-footer blue lighten-1">
		<div class="container">
			<div class="row">
				© 2017 Copyright
			</div>
		</div>
	</footer>

	<script type="text/javascript">
		$("#menuButton").sideNav();
		$(".dropdown-button").dropdown();
	</script>

</body>

</html>