@{
    ViewData["Title"] = "Error";
}

<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center">
            <h1 class="error-number">500</h1>
            <h5>Internal Server Error</h5>
            <p>
                We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing. <a href="#">Report this?</a>
            </p>
            <div class="mid_center">
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="button" class="btn btn-primary">Return to dashboard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>